/* scss/pallette_dark.scss */
$shadow: #01060e;
$background: #0a192f;
$dark: #223763;
$mute-2: #004972;
$mute-1: #017cb1; // for all nice to have but important
$sub: #ccd6f6;
$primary: #e6f1ff;
$pop: #cba8f8;
