/* scss/pallette_dark.scss */
$shadow: #01060e;
$background: #0a192f;
$dark: #282263;
$mute-2: #5b69b9;
$mute-1: #899cda; // for all nice to have but important
$sub: #aebae2;
$primary: #e6f1ff;
$pop: #cba8f8;
 