/* scss/pallette.scss */

.active-tab {
    background-color:  $background-sub-1;
    color: $pop ;
}



ul > li.nav-item > a.nav-link[role=tab]{
    border-top-left-radius: 0rem ;
    border-top-right-radius: 0rem ;
    border: none ;
    background-color: $background;
    transition: .3s all ease-out;
}

ul > li.nav-item > a.nav-link.active-tab{
    border-top-left-radius: 0rem ;
    border-top-right-radius: 0rem ;
    border: none ;
    color: $pop;
    background-color: $background-sub-1;
    transition: .3s all ease-out;
}

ul > li.nav-item > a.nav-link:active{
    // To remove the "border" of the tab
    border-top-left-radius: 0rem ;
    border-top-right-radius: 0rem ;
    outline: none ;
}


li.nav-item > a.nav-link:hover{
    border-top-left-radius: 0rem ;
    border-top-right-radius: 0rem ;
    border: none ;
    color: $sub-2;
}

tab-content{
    background-color:  $background-sub-1;
}

div>ul.card-header{
    background-color: $background;
}