/* scss/pallette.scss */

.active-tab {
    background-color:  $background-sub ;    
    color: $pop ;
}



.nav-tabs .nav-link{
    transition: all 0.3s cubic-bezier(0.645,0.045,0.355,1); 
    border-top-left-radius: 0rem ;
    border-top-right-radius: 0rem ;
    border: none ;
}

.nav-tabs:hover .nav-link:hover{
    transition: all 0.3s cubic-bezier(0.645,0.045,0.355,1); 
    border-top-left-radius: 0rem ;
    border-top-right-radius: 0rem ;
    border: none ;
}

tab-content{
    background-color:  $background-sub ;
}